@import 'variables';

@mixin regular($font-size,$color) {
   font-family: 'Lato',sans-serif;
   font-size: $font-size;
   font-weight: normal;
   color: $color;
}

@mixin medium($font-size,$color) {
   font-family: 'Lato', sans-serif;
   font-size: $font-size;
   color: $color;
   font-weight: 500;
}

@mixin thin ($font-size,$color){
   font-family: 'Lato', sans-serif;
   font-size: $font-size;
   color: $color;
   font-weight: 100;
}

@mixin absolute{
   width: 100%;
   height: 100%;
   position: absolute;
   top:0;
   left:0;
}

@mixin form($width,$height){
   width: $width;
   min-height: $height;
   padding:14px 20px;
   border: none;
      border-radius: $radius;
      background-color: #F9F9F9;
      @include regular($f22, $black);
   
      &::placeholder {
         @include regular($f20, #BDBDBD);
      };
}