//COLORS
$main-color: #00AC4E;
$text-color-gray: #333333;
$sub-text-color-gray: #828282;
$slider-bg: #F2F2F2;
$white: #ffffff;
$form-placeholder-color: #BDBDBD;
$black: black;

//FONT
$f12: 12px;
$f14: 14px;
$f18: 18px;
$f20: 20px;
$f22: 22px;
$f24: 24px;
$f28: 28px;
$f30: 30px;

//PADDING
$pad303: 303px;
$pad172: 172px;

//BORDER

$radius: 15px;

//WIDTH
$width: 205px;


