<div class="custom-select dropdown-content">
   <ul class="custom-select__list">
      <li class="custom-select__list-item" data-product-type="all">
         <img src="/assets/img/food.png" alt="Soup">
         Всі страви
      </li>
      <li class="custom-select__list-item" data-product-type="soup">
         <img src="/assets/img/svg/1.svg" alt="Soup">
         Супи
      </li>
      <li class="custom-select__list-item" data-product-type="hachapuri">
         <img src="/assets/img/svg/2.svg" alt="Hachapuri">
         Хачапурі
      </li>
      <li class="custom-select__list-item" data-product-type="cold">
         <img src="/assets/img/svg/3.svg" alt="Cold snacks">
         Холодні закуски
      </li>
      <li class="custom-select__list-item" data-product-type="khinkali">
         <img src="/assets/img/svg/4.svg" alt="Khinkali">
         Хінкалі
      </li>
      <li class="custom-select__list-item" data-product-type="shashlik">
         <img src="/assets/img/svg/5.svg" alt="Shashlik">
         Шашлик
      </li>
      <li class="custom-select__list-item" data-product-type="souce">
         <img src="/assets/img/svg/6.svg" alt="Souses">
         Соуси
      </li>
      <li class="custom-select__list-item" data-product-type="salad">
         <img src="/assets/img/svg/7.svg" alt="Salads">
         Салати
      </li>
      <li class="custom-select__list-item" data-product-type="hot">
         <img src="/assets/img/svg/8.svg" alt="Hot meals">
         Гарячі страви
      </li>
      <li class="custom-select__list-item" data-product-type="side">
         <img src="/assets/img/svg/9.svg" alt="Side meals">
         Гарніри
      </li>
      <li class="custom-select__list-item" data-product-type="dessert">
         <img src="/assets/img/svg/10.svg" alt="Desserts">
         Десерти
      </li>
      <li class="custom-select__list-item" data-product-type="drinks">
         <img src="/assets/img/svg/11.svg" alt="Drinks">
         Напої
      </li>
   </ul>
</div>