<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="assets/fonts/font.min.css">
   <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />
   <script src="https://kit.fontawesome.com/07e77404ed.js" crossorigin="anonymous"></script>

   <title>{{title}}</title>
</head>