.menu-container{
   max-width: 1572px;
   margin: 0 auto;
   padding: 0 131px;
   user-select: none;
}
.swiper{
   margin-top: 60px;
   .swiper-container {
      .swiper__item {
         background: linear-gradient(180deg, #F1F1FB 0%, #EBEBF5 100%);
         
         height: 254px;
         position: relative;
         border-radius: $radius;
         padding:40px 0 0 46px ;
         h2 {
            @include regular($f30,$text-color-gray);
            font-weight: 500;
         }

         p{
            @include regular($f20,$sub-text-color-gray);
            margin-top: 16px;
         }
         
         button{
            display: inline-block;
            margin-top: 34px;
            color:$white;
         }
   
         img {
            position: absolute;
            top: 0;
            right: 0;
         }
      }
      .swiper-pagination-bullet{
         background: #C4C4C4;
         opacity: 1;
      }
      .swiper-pagination-bullet-active {
         background: $white;
         width: 35px;
         border-radius: 15px;
      }
   }
}
.swiper-menu{
  margin-top: 25px;
   .menuSwiper{
         a{
            width: auto !important;
            @include regular($f24,$text-color-gray);
            text-transform: uppercase;
            border-radius: $radius; 
            padding: 9px 14px 7px 14px;
         }
         a:hover{
            background-color: $main-color;
            color: $white;
            cursor: pointer;

            transition: all .2s;
            
         }
         .swiper-button-next,.swiper-button-prev{
            background: $white;
         }
         .swiper-button-next:after,
         .swiper-rtl .swiper-button-prev:after{
            content: '';
            background-image: url(/assets/img/svg/arrow-menu.svg);
            width: 14px;
            height: 24px;
         }
         .swiper-button-prev:after,
         .swiper-rtl .swiper-button-prev:after{
            content: '';
            background-image: url(/assets/img/svg/arrow-menu.svg);
            width: 14px;
            height: 24px;
            rotate: 180deg;
         }
         .swiper-button-prev,
         .swiper-rtl .swiper-button-prev{
            left: 0;
            justify-content: flex-start;
         }
         .swiper-button-next,
         .swiper-rtl .swiper-button-prev{
            right: 0;
            justify-content: flex-end;
         }
         .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
            display: none;
         }
      }
   }

.swipe__btn{
   padding: 12px 45px;
   @include medium($f24,$white);
}