.about-conteiner {
   display: flex;
   

   margin-top: 60px;
   gap: 66px;
   max-width: 1314px;
   margin: 60px auto 0 auto;
   
}

.about {
   width: 1314px;
   margin: 0 auto;
   &__image {
      width: 855px;
      height: 427px;
      border-radius: 10px;
      object-fit: cover;
   }

   &__product {
      width: 393px;
      padding: 0 28px;
      border-radius: $radius;
      box-shadow: 0 0 27px rgba(0, 0, 0, 0.06);
      h3{
         margin-top: 35px;
         @include medium($f18,$black);
         font-weight: bold;
      }
   }

   &__product-comments {
      margin-top: 14px;
      @include regular($f12,#C6C6C6);
   }

   &__product-info {
      margin-top: 52px;
      width: 337px;
   }

   &__product-price {
      display: flex;
      justify-content: space-between;
      align-items: center;

   }

   &__product-amount {
      margin-top: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__product-quantity {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-shrink: 1;
      align-items: center;
   }
   &__product-quantity-box{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         text-align: center;
         
      .about__product-quantity-conteiner {
         @include regular($f12,$black);
         display: flex;
         flex-direction: row; 
         align-self: flex-end;
         align-items: center;
         padding: 10px 15px;
         border: 1px solid #EBEBEB;
         border-radius: 10px;
         background-color: #FCFCFC;
      }
      .title{
         font-size: 9px;
         margin-top: 4px;
      }
   }

   &__product-sum {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      p:first-child{
         @include medium($f14, $black);
         font-weight: bold;
      }
   }

   &__product-buttons {
      margin-top: 18px;
      display: flex;
      justify-content: space-between;
   }

   &__product-btn{
      display: flex;
      align-items: center;
      @include medium($f18, $white);
      padding: 7px 101px;
      border-radius: 8px;
      &a{

      }
   }

   &__product-btn-cart {
      padding: 6px 12px;
      border-radius: 8px;
   }
}


.title{
   @include regular($f14, #C6C6C6);
}

.price {
   @include medium($f16, $black);
}

.minus {
   font-size: 14px;
   cursor: pointer;
}

.quantity{
   margin: 0 14px;
}

.plus {
   font-size: 14px;
   cursor: pointer;
}

.sum {
   color: $main-color;
}

// ---------------------TABS--------------------------


.about {
   &__tabs {
      display: flex;
      flex-direction: column;
      width: 855px;
   }

   &__description {
     
      margin-top: 40px;
      @include regular($f18, $sub-text-color-gray);
      h3{
         color: $black;
         font-size: $f22;
      }
   }

   &__decription-info{
      
      margin-top: 22px;
   }

   &__description-weight{
      margin-top: 12px;
   }

   &__description-producer{
      margin-top: 12px;
   }

   &__parameters{
      
      margin-top: 32px;
      &-info{
         margin-top: 20px;
         @include medium($f18,$sub-text-color-gray);
      }
   }

      &__comments {
         
         margin-top: 40px;
      }
   
      &__comments-container {
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 70px;
      }
   
      &__comments-card {
         padding: 16px 20px;
         width: 320px;
         height: 182px;
         background-color: $slider-bg;
         border-radius: $radius;
         position: relative;
         &::after {
               content: '';
               width: 16px;
               height: 16px;
               background: $main-color;
               position: absolute;
               top: 16px;
               right: 20px;
               border-radius: 50%;
            }
      }
   
      &__comments-card-profile {
         position: relative;
         margin-left: 48px;
         &::before{
            content: url(../../assets/img/comment-pic.png);
            position: absolute;
            left: -48px;
            width: 40px;
            height: 40px;
         }
      }
      
      &__comments-card-profile-title {
         @include medium($f12,$black);
         font-weight: bold;
      }
   
      &__comments-card-profile-rate {
         width: 100px;
         height: 10px;
         background-color: $main-color;
      }
   
      &__comments-card-profile-link {
         @include regular($f9,#2D9CDB);
         text-decoration: underline;
      }
   
      &__comments-card-comment {
         margin-top: 16px;
         
         @include regular($f10,$black);
         letter-spacing: 0.5px;

      }
   
      &__comments-card-button {
         margin-top: 12px;
         cursor: pointer;

         @include medium($f9, $main-color);
         text-decoration: underline;
      }
   
      &__comments-card-button-more {
         position: relative;
         cursor: pointer;
         margin-right: 26px;
         @include medium($f14, $main-color);
         font-weight: bold;
         &::after{
            content: url(/assets/img/svg/arrow.svg);
            width: 12px;
            height: 12px;
            position: absolute;
            right: -18px;
            top: 1px;
         }
      }
   
      &__comments-button {
         margin-top: 24px;
         @include medium($f12, $white);
      }
   
}

.promo {
  
   
   padding: 27px 28px;
   border-radius: $radius;
   box-shadow: 0 0 27px rgba(0, 0, 0, 0.06);
   flex-grow: 1;
   &__title {
      @include regular($f14, $black);
      text-align: center;
      font-weight: bold;
   }
   &__list {
      position: relative;
      text-align: center;
   }
   &__items {
   @include medium($f14, $black);
      font-weight: bold;
      margin-top: 30px;
      display: flex;
      align-items: center;

      &-pic {
         margin-right: 33px;
      }
   }
   &__calc {
      margin-top: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-base {
         @include medium($f10, $black);
         font-weight: bold;
      }
      &-title {
         @include regular($f11, $black);
         font-weight: bold;
         text-align: center;
      }

      &-info {
         @include regular($f8, $black);
         text-align: center
      }

      &-need {
         @include medium($f10, $black);
         font-weight: bold;
      }
   }
}



.tabs {
   display: flex;
   justify-content: space-between;
   &__item{
      @include regular($f24, $sub-text-color-gray);
      &:hover,
      &:focus {
         color: $main-color;
      }
      cursor: pointer;
   }
   &__title{
      font-weight: normal;
   }
   
   
}

// ----------------------CALCULATOR-------------------------- 
#price-range{
      width: 192px;
      -webkit-appearance: none;
      appearance: none;
      background: linear-gradient(to right, $main-color 0%, $main-color 50%, #ddd 50%, #ddd 100%);
      height: 5px;
      border-radius: 4px;
      outline: none;
   &::-webkit-slider-thumb{
      -webkit-appearance: none;
         appearance: none;
         width: 12px;
         height: 12px;
         background-color: $main-color;
         border: 2px solid $white;
         border-radius: 50%;
        
   }

   &::-moz-slider-thumb {
         width: 12px;
         height: 12px;
         background-color: $main-color;
         border: 2px solid $white;
         border-radius: 50%;
         
   }

   &::-moz-range-track {
      background: linear-gradient(to right, $main-color 0%, $main-color 50%, #ddd 50%, #ddd 100%);
      height: 8px;
      border-radius: 4px;
   }

   &::-ms-thumb {
      width: 12px;
      height: 12px;
      background-color: $main-color;
      border: 2px solid $white;
      border-radius: 50%;
   }
}
.tabs__item.active{
   color: $main-color;
}
.tab-content__item.active {
   display: block;
}
.tab-content__item{
   display: none;
}


.quantity{
   width: 28px;
   border: none;
   text-align: center;
   text-decoration: none;
}
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
   -webkit-appearance: none; // Yeah, yeah everybody write about it
}

.quantity,
.quantity:hover,
.quantity:focus {
   appearance: none;
   -moz-appearance: textfield;
}