
<body>
   
   <main>
      <div class="wrapper">
         <section class="help">
            <h2 class="help__title">Підтримка</h2>
            <form action="post" class="help__form" aria-placeholder="Напишіть повідомлення..">
               <textarea name="textarea" id="help__textarea" class="help__form-textaria" placeholder="Напишіть повідомлення.."></textarea>
               <div class="help__form-container">
                  <input class="help__form-tel" type="tel" placeholder="Телефон">
                  <input class="help__form-email" type="email" placeholder="E-mail">
               </div>
               <button class="help__form-btn btn">Надіслати</button>
            </form>
         </section>
      </div>
   </main>


      <footer class="footer">
      <div class="footer__wrapper">
         <div class="footer__left">
            <div class="footer__left-phones">
               <div class="footer__left-phones-1">
                  <h3>Безкоштовний дзвінок по Україні</h3>
                  <p>+380-95-340-3188</p>
               </div>
               <div class="footer__left-phones-2">
                  <h3>Для прийому замовлень</h3>
                  <p>+380-95-340-3188</p>
               </div>
            </div>
            <p>Графік работи по будням з 9:00 до 20:00</p>
            <p class="footer__left-email">Email: info@ua</p>
            <a href="#" class="footer__left-help">Підтримка</a>
            <div class="footer__left-copyright">
               <p>©2023. Піросмані</p>
               <p>Умови і згода</p>
               <p>Політика конфіденційності</p>
            </div>
         </div>
         <div class="footer__right">
            <div class="footer__right-socials">
               <a href="#" class="footer__right-socoals-insta">Ми в інстаграм</a>
               <a href="#" class="footer__right-socoals-facebook">Ми в фейсбук</a>
            </div>
            <a href="#" class="footer__right-log">
               <img src="/assets/img/svg/person-footer.svg" alt="Person icon">
               Вхід/Реєстрація</a>
         </div>
      </div>
   </footer>

  
</body>
