
<body>
   <main>
      <div class="wrapper">
         <section class="payment">
            <h2 class="payment__title">
               Оплата
            </h2>
            <p class="payment__description">
               Нашим гостям мы предлагаем жаркую парилку, разогретую до оптимального температурного режима и душистые
               веники. Благодаря
               правильному проектированию помещений русской бани в Домодедово, наш легкий пар не жжет кожу и не
               оставляет после себя
               головную боль. В банный комплекс входят: русская баня на дровах, оздоровительные SPA-процедуры, хаммам,
               бассейн и
               караоке. Для Вашего удобства в составе нашего комплекса имеется уютный зал, где Вы можете расслабиться и
               сделать заказ
               из нашего меню. Банный комплексе De’Lore рассчитан на одновременное посещение 25 человек.
            </p>
            <p class="payment__description">
               Нашим гостям мы предлагаем жаркую парилку, разогретую до оптимального температурного режима и душистые
               веники. Благодаря
               правильному проектированию помещений русской бани в Домодедово, наш легкий пар не жжет кожу и не
               оставляет после себя
               головную боль. В банный комплекс входят: русская баня на дровах, оздоровительные SPA-процедуры, хаммам,
               бассейн и
               караоке. Для Вашего удобства в составе нашего комплекса имеется уютный зал, где Вы можете расслабиться и
               сделать заказ
               из нашего меню. Банный комплексе De’Lore рассчитан на одновременное посещение 25 человек.
            </p>
            <div class="payment__nav">
               <div class="payment__nav-btn btn">В каталог</div>
               <a href="/delivery" class="payment__nav-link">Про доставку <img src="../assets/img/svg/arrow.svg" alt="Arrow"></a>
            </div>

         </section>
      </div>
   </main>

   <footer class="footer">
      <div class="footer__wrapper">
         <div class="footer__left">
            <div class="footer__left-phones">
               <div class="footer__left-phones-1">
                  <h3>Безкоштовний дзвінок по Україні</h3>
                  <p>+380-95-340-3188</p>
               </div>
               <div class="footer__left-phones-2">
                  <h3>Для прийому замовлень</h3>
                  <p>+380-95-340-3188</p>
               </div>
            </div>
            <p>Графік работи по будням з 9:00 до 20:00</p>
            <p class="footer__left-email">Email: info@ua</p>
            <a href="/help" class="footer__left-help">Підтримка</a>
            <div class="footer__left-copyright">
               <p>©2023. Піросмані</p>
               <p>Умови і згода</p>
               <p>Політика конфіденційності</p>
            </div>
         </div>
         <div class="footer__right">
            <div class="footer__right-socials">
               <a href="#" class="footer__right-socoals-insta">Ми в інстаграм</a>
               <a href="#" class="footer__right-socoals-facebook">Ми в фейсбук</a>
            </div>
            <a href="#" class="footer__right-log">
               <img src="/assets/img/svg/person-footer.svg" alt="Person icon">
               Вхід/Реєстрація</a>
         </div>
      </div>
   </footer>

  
</body> 
